<html>
<head>
    <title>Pizza Home</title>
<script type="text/javascript">
	function httpGetAsync(theUrl, callback) {
	    var xmlHttp = new XMLHttpRequest();
	    xmlHttp.onreadystatechange = function() {
	        if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
	            callback(xmlHttp.responseText);
	    }
	    xmlHttp.open("GET", theUrl, true); // true for asynchronous
	    xmlHttp.send(null);
	}
</script>
</head>
<body>
<h1>Pizza API documentation</h1>
 1. <a href="http://127.0.0.1:5000/items">Get all items</a>
<div id="myElement">
	Hello, world!
</div>

</body>
</html>
